<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  </head>
  <body>  
    <nav> <%= title %> </nav>
    <div class="app"> 
      <img src="/images/loading.gif" >
    </div>
  </body>
</html>
