body {
    padding: 0 50px 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    padding: 15px;
    text-align: center;
    background-image: linear-gradient(rgb(134, 5, 5), red);
    color: white;
    font-size: 1.5em;
    font-weight: 900;
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
}

.app {
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
